body{
	padding:0;
	margin: 0;

  
	width:100%;
	height:100%;
	
	color:#A68947;
	background: #0C7D70;
	
}

#equalDeal{
	width: 100vw;
	padding-top:1vw;
}

#equalDealGrid{
	display:grid;
	grid-template-columns:repeat(2,1fr);
	grid-column-gap:1vw;
	grid-row-gap:1vw;
	width: 90vw;
	float:left;
	margin-left:5vw;
	backround:red;
	
}

header{
	height: 10vw;
	width:100vw;
	background:#074A42;
	border-bottom: 100vw maroon red;

	
	
}

.player{
	padding-bottom:2vw;
	padding-top:2vw;
	text-align: center;
	font-size: 5vw;
	border: 0.5vw #C93E00 inset;
	
}

.playerSlider{
	grid-column-start:1;
	grid-column-end:3;
	padding: 2vw;

}


.playerSlider input{
	width:60vw;
	float:right;
}

.playerSlider span{
	font-size: 6vw;
	
}







//////////////////////////////////////////////////////
styling for the range input made using http://danielstern.ca/range.css/#/
//////////////////////////////////////////////////////
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 6.3px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 37.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(48, 113, 169, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 0px solid #00001e;
  height: 50px;
  width: 26px;
  border-radius: 35px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(54, 126, 189, 0.78);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 37.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(48, 113, 169, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 0px solid #00001e;
  height: 50px;
  width: 26px;
  border-radius: 35px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 37.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(42, 100, 149, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(48, 113, 169, 0.78);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
  border: 0px solid #00001e;
  height: 50px;
  width: 26px;
  border-radius: 35px;
  background: #ffffff;
  cursor: pointer;
  height: 37.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(48, 113, 169, 0.78);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(54, 126, 189, 0.78);
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 6.3px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 37.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(48, 113, 169, 0.78);
